div {
  
  border: 1px solid black;
  background-color: rgb(91, 91, 230);
  width: 100%;
}
.a {
  height: 75px;
  grid-column: 1 / 6;
}
.b {
  height: 150px;
  grid-column: 1 / 2;
}
.c  {
  height: 125px;
  grid-column: 2 / 4;
  
}
.d  {
  height:  125px;
  grid-column:  4 / 6;

}
.e   {
  width: 50%;
  height: 250px;
  grid-column: 2;
}
.f  {
  width:  100%;
  height: 250px;
  grid-column: 3 / 4;
}
.g  {
  width: 50%;
  height: 250px;
  grid-column: 4 / 5;

}
.h  {
  width:  50%;
  height: 250px;
  grid-column: 5 / 6;
}

.i {
  height: 80px;
  width: 100%;
  grid-column: 2 / 6;
}

@media(min-width: 768px) {
  div {
  background-color: aqua;
  
  }
  .a {
      height: 100px;
  }
  .b {
      height: 600px;
      width: 200px;
  }
  .c, .d {
      height: 200px;
      width: 380px;
  }
  .e, .f, .g, .h {
      width: 190px;
      height: 250px;
  }
  .i {
      height: 150px;
      width: 760px;
  }
}

@media(min-width: 960px) {
  div {
  background-color: rgb(218, 106, 212);
  }
}