p {
  text-align: center;
}
.a p {
  padding: 33px 0;
}
.b p {
  padding: 70px 0;
}
.c p, .d p {
  padding: 55px 0;
}
.e p, .f p, .g p, .h p {
  padding: 120px 0;
}
.i p {
  padding: 30px 0;
}

@media(min-width: 768px) {
  .a p {
      padding: 100px 0;
  }
  .b p {
      padding: 200px 0;
  }
  .c p, .d p {
      padding: 55px 0;
  }
  .i p {
      padding: 40px 0;
  }  
}