@media all and (min-width: 480px) and (max-width: 767px){

header {
  border: 2px solid black;
  height: 75px;
  width: 476px;
  
}

aside {
  border: 2px solid black;
  height: 150px;
  width: 476px;
  /* float: left; */
}

section {
  border: 2px solid black;
  height: 125px;
  width: 476px;
  /* float: left; */

}


article {
  border: 2px solid black;
  height: 250px;
  width: 236px;
  float: left;
}


footer {
  border: 2px solid black;
  height: 80px;
  width: 476px;
  float: left; */
}
}

@media all and (min-width: 768px) and (max-width: 960px){



  header {
    border: 2px solid black;
    height: 100px;
    width: 960px;
    
  }
  
  aside {
    border: 2px solid black;
    height: 600px;
    width: 200px;
    float: left;
  }
  
  section {
    border: 2px solid black;
    height: 380px;
    width: 200px;
    float: left;
  
  }
  
  article {
    border: 2px solid black;
    height: 250px;
    width: 190px;
    float: left;
  }
  
  footer {
    border: 2px solid black;
    height: 150px;
    width: 760px;
    float: left;
  }
  }