@media all and (min-width: 480px) and (max-width: 767px){

header {
  box-sizing: border-box;
  border: 1px solid black;
  height: 75px;
  width: 480px;
  
}

aside {
  box-sizing: border-box;
  border: 1px solid black;
  height: 150px;
  width: 480px;
  
  /* float: left; */
}

section {
  box-sizing: border-box;
  border: 1px solid black;
  height: 125px;
  width: 480px;
  
  }
 
#article {
  width: 480px;
} 


article {
  box-sizing: border-box;
  border: 1px solid black;
  height: 250px;
  width: 240px;
  float: left;
}


footer {
  box-sizing: border-box;
  border: 1px solid black;
  height: 80px;
  width: 480px;
  float: left; 
}
}

@media all and (min-width: 768px) and (max-width: 960px){



  header {
    box-sizing: border-box;
    border: 1px
     solid black;
    height: 100px;
    width: 960px;
    
  }
  
  aside {
    box-sizing: border-box;
    border: 1px
     solid black;
    height: 600px;
    width: 200px;
    float: left;
  }

  #section {
    width: 760px;
  } 
  
  section {
    box-sizing: border-box;
    border: 1px
     solid black;
    height: 200px;
    width: 380px;
    float: left;
  
  }
  
  article {
    box-sizing: border-box;
    border: 1px
     solid black;
    height: 250px;
    width: 190px;
    float: left;
  }
  
  footer {
    box-sizing: border-box;
    border: 1px solid black;
    height: 150px;
    width: 760px;
    float: left;
  }
  }